.Loadding{
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    inset: 0;

    background:rgba(0, 0, 0, 0.8);
    z-index: 99999;
}

.ring{
    width: 150px;
    height: 150px;
    
    border-radius: 50%;
    border: 0px solid transparent;

    position: absolute;
}

.ring:first-child{
    border-bottom-width: 8px;
    border-bottom-color: rgb(255, 0, 255);
    animation: rotate1 1.5s linear infinite;
}

.ring:nth-child(2){
    border-right-width: 8px;
    border-right-color: rgb(0, 247, 255);
    animation: rotate2 1.5s linear infinite;
}

.ring:nth-child(3){
    border-top-width: 8px;
    border-top-color: rgb(0, 255, 13);
    animation: rotate3 1.5s linear infinite;
}

@keyframes rotate1 {
    0%{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate2 {
    0%{
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate3 {
    0%{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

.loadding{
    color: white;
    font-size: 13px;
    -webkit-text-stroke: 0.3px #383d52;
}