.bg-custom{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 99999;
}
.detail_room{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    border-radius: 10px;

    width: 700px;
    min-height: 640px;
    padding: 50px;

    box-sizing: border-box;

    background: #fff;
    z-index: 999999;
}

.detail_room-close{
    position: absolute;
    top: 20px;
    right: 20px;
}

.detail_room-close  svg{
    cursor: pointer;
}

.detail_room-infoRoom{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.detail_room-title{
    margin-bottom: 18px;
}

.detail_room-lable{
    margin-right: 8px;
    font-weight: bold;
    color: #A1A5B7;
}

.detail_room-user{
    display: grid;
    place-items: center;
}


.detail_room-user-img{
    width: 91px;
    height: 91px;
    background: #000;
    border-radius: 50%;
    cursor: pointer;
}

.detail_room-userInfo{
    text-align: center;
}

.detail_room-userInfo > div:first-child{
    margin-bottom: 5px;
    color: #A1A5B7;
    font-weight: bold;
    font-size: 15px;
}

.detail_room-userInfo > div:last-child{
    margin-bottom: 5px;
    color: #434349;
    font-size: 16px;
}

.detail_room-value{
    color: #434349;
}

.detail_room-bold{
    font-weight: bold;
}

.detail_room-componient > h2 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

.detail_room_list{
    position: relative;
    box-sizing: border-box;

    min-height: 100px;

    margin: 10px 0;
    
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
}

.detail_room_list > h3{
    position: absolute;
    top: -10px;
    left: 20px;
    
    background: #ffffff;
    color: #434349;

    font-size: 15px;
    font-weight: bold;
}

.detail_room_list-user{
    display: flex;
    flex-wrap: wrap;
}

.detai_room-user{
    margin-right: 10px;

    background: #E9E9EC;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #464E5F;
    padding: 5px;

    border-radius: 8px;
}

.detail_room-option{
    display: flex;
}

.detail_room-option > h3{
    font-size: 15px;
    font-weight: bold;
    color: #434349;
}

.detail_room-option-list > div{
    margin: 0 5px;
    display: inline;
}

.detail_room-note{
    display: block;
    margin-top: 10px;
}
.detail_room-note > h3{
    font-size: 15px;
    font-weight: bold;
    color: #434349;
}

.detail_room-text{
    margin: 10px 0;
}

.detail_room-text > textarea{
    height: 100px;
    background: #F0F5FA; 
    border-radius: 3px;
}

.detail_room-display{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 40px;
}

.detail_room-btn > button{ 
    width: 120px;
    height: 40px;
    
    margin: 0 10px;
    
    box-sizing: border-box;
    border-radius: 3px;
    border: none;

    cursor: pointer;
}

.detail_room-btn > button:first-child{
    background: #35794A;
    color: #fff;
    font-weight: bold;
}

.detail_room-btn > button:last-child{
    border: 1px solid #35794A;
    color: #35794A;
    background: #ffffff;
}